html {
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
	height: 100%;
}
a {
    color: #000;
    display: inline-block;
    text-decoration: none;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 14px;
    overflow-x: hidden;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
    flex: 1 0 auto;
    z-index: 1;
}
.footer {
	flex: 0 0 auto;
}

